{% extends 'blog/base.html' %}
{% load render_partial %}
{% block fullwidthcontent %}
    <!-- Main News Slider Start -->
    {% include 'blog/mainslider.html' %}
    <!-- Main News Slider End -->


    <!-- Breaking News Start -->
    {% render_partial 'get_newupdate' %}
    <!-- Breaking News End -->


    <!-- Featured News Slider Start -->
    <!-- Featured News Slider End -->
{% endblock fullwidthcontent %}
{% block content %}
    {% include 'blog/featuredslider.html' %}

    <!-- News With Sidebar Start -->
    {% include 'blog/newsslider.html' %}
    <!-- News With Sidebar End -->


{% endblock content %}