{% block content %}
    <!-- Breaking News Start -->
    <div class="row">
                <div class="col-lg-6">
            {% for movie in movieObj|slice:":5" %}
                <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                    <img class="img-fluid" src="{{movie.imageThumb.url}}" alt="">
                    <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                        <div class="mb-2">
                            <a hx-get="/movie/{{movie.slug}}"
    hx-trigger="click"
    hx-target="#root"
    hx-swap="innerHTML" class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{movie.name}}</a>
                            <a hx-get="/year/{{movie.year}}"
    hx-trigger="click"
    hx-target="#root"
    hx-swap="innerHTML" class="text-body" href=""><small>{{movie.year}}</small></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="col-lg-6">
             {% for movie in movieObj|slice:"5:" %}
                <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                    <img class="img-fluid" src="{{movie.imageThumb.url}}" alt="">
                    <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                        <div class="mb-2">
                            <a hx-get="/movie/{{movie.slug}}"
    hx-trigger="click"
    hx-target="#root"
    hx-swap="innerHTML" class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{movie.name}}</a>
                            <a hx-get="/year/{{movie.year}}"
    hx-trigger="click"
    hx-target="#root"
    hx-swap="innerHTML" class="text-body" href=""><small>{{movie.year}}</small></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Breaking News End -->
{% endblock content %}




   