
{% block content %}
    <!-- Breaking News Start -->
    <div class='row'>
        <div class="col-lg-6">
            <img class="moviethumb" src="{{movieObj.imageThumb.url}}"/>
        </div>
        <div class="col-lg-6">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">{{movieObj.name}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="active-row">
                        <td>movie</td>
                        <td>{{movieObj.name}}</td>
                    </tr>
                    <tr class="active-row">
                        <td>Year</td>
                        <td><a hx-get="/year/{{movieObj.year}}"
    hx-trigger="click"
    hx-target="#root"
    hx-swap="innerHTML" href="">{{movieObj.year}}</a></td>
                    </tr>
                    <tr class="active-row">
                        <td>songs</td>
                        <td>{{songsObj|length}}</td>
                    </tr>

                    <!-- and so on... -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="border-left: 6px solid #34a3a2;">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Songs</th>
                        <th>Lyricist</th>
                        <th>Composer</th>
                        <th>singers</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songsObj%}
                    <tr class="active-row">
                        <td><a hx-get="/lyrics/{{song.slug}}"
    hx-trigger="click"
    hx-target="#root"
    hx-swap="innerHTML" href="">{{song.title}}</td>
                        <td><a hx-get="/lyricist/{{song.lyricist.slug}}"
    hx-trigger="click"
    hx-target="#root"
    hx-swap="innerHTML" href="">{{song.lyricist.name}}</a></td>
                        <td><a hx-get="/composer/{{song.composer.slug}}"
    hx-trigger="click"
    hx-target="#root"
    hx-swap="innerHTML" href="">{{song.composer.name}}</a></td>
                        <td>{% for i in song.singer.all %}
                            <a hx-get="/singer/{{i.slug}}"
    hx-trigger="click"
    hx-target="#root"
    hx-swap="innerHTML" href="">{{i.name}}</a><br/>
                            {% endfor %}</td>
                    </tr>
                    {% endfor %}
                    <!-- and so on... -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- Breaking News End -->
{% endblock content %}




   